<h3><%= "List of Songs" %></h3>
  
<div class="home">
  <% @songs.each do |song| %>
  <%#= user_id. Undefined local variable at the moment. %>
  <%= song.song_name %>
  <br>
  <%= song.image %>
  <br>
  <%= song.song_file %>
  <br>
  <%= link_to 'Show', song %>
  <% if can? :update, Song %>
    <%= link_to 'Edit', edit_song_path(song) %> 
  <% end %>
  <% if can? :delete, Song %>
    <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
  <br>
  <% end %>
</div>