<h3><%= "List of Songs" %></h3>

<div class="home">
  <% @songs.each do |song| %>
  <%#= user_id. Undefined local variable at the moment. %>
  <%= song.song_name %>
  <br>
  <%= song.song_image %>
  <br>
  <%= song.song_file %>
  <br>
  <%= link_to 'Show', song %>
  <br>
  <br>
  <% end %>
</div>