<h2><%= @song.song_name %></h2>

<div class="container">

  <main>
    <p><%= @song.image %></p>
  </main>
  <aside>
    <p><%= @song.song_file %></p>
  </aside>

</div>

<div class="bottom">
  <p>
    <strong>Comments:</strong><br>
    <% @song.comments.each do |comment| %>
    <!-- Now have to find a way to make the user name show up. -->
      <%= comment.user_id %>
      <%= comment.comment_content %><br>
      <%= link_to 'Show', comment %> |
      <%= link_to 'Edit', edit_comment_path %> |
      <%= link_to 'Destroy', comment, method: :delete, data: {confirm: 'Are you sure?' } %>
      <br>
    <% end %>
  </p>
<div>