<h2><%= @song.song_name %></h2>

<div class="container user_background_<%= @song.user.user_background_style %>">

  <main>
    <h4><%= @song.user.user_name %></h4>
    <p><%= image_tag @song.image.portrait.url, width: 395 %></p>
    <%# if can? :edit, User %>
      <%# edit_user_path(@song.user) %>
    <%# end %>
  </main>
  <aside>
    <h5><%= @song.song_name %></h5>
    <audio controls>
      <source src="<%= @song.song_file %>" type="audio/ogg">
      <source src="<%= @song.song_file %>" type="audio/mpeg">
    </audio>
    <br>
    <h5>Other songs by the same Artist</h5>
    <% @song.user.songs.each do |other_song| %>
      <%= other_song.song_name %> 
      <%= link_to 'Listen', other_song %>
      <% if can? :edit, other_song %>
        <%= link_to 'Edit', edit_song_path(other_song) %>
      <% end %>
      <% if can? :delete, other_song %>
        <%= link_to 'Destroy', other_song, method: :end, data: { confirm: 'Are you sure?'} %>
      <% end %>
      <br>
    <% end %>
    <% if can? :create, Song %>
      <button><%= link_to 'Add Song', new_song_path %></button>
    <% end %> 
  </aside>

</div>

<div class="bottom">
  <div class="comments">
    <p>
      <strong>Comments:</strong><br>
      <button><%= link_to 'Create', new_song_comment_path(@song) %></button>
      <div class="home">
  <%= form_for ([@song, @comment]) do |f| %>
    <p>
      <%= f.label :comment_content %>
      <%= f.text_area :comment_content, :size=>"100*1" %>
    </p>
    <%= f.submit %>
  <% end %>
</div>
      
      <br>
      <% @song.comments.each do |comment| %>
      <!-- Now have to find a way to make the user name show up. -->
        <%= comment.user.user_name %>
        <br>
        <%= comment.comment_content %>
        <br>
        <% if can? :edit, comment %>
          <%= link_to 'Edit', edit_song_comment_path(@song, comment.id) %>
        <% end %>
        <% if can? :delete, comment %>
          <%= link_to 'Destroy', song_comment_path(@song, comment.id), method: :delete, data: {confirm: 'Are you sure?' } %>
        <% end %>
        <br>
      <% end %>
    </p>
  </div>
<div>

  <button><%= link_to 'Back', songs_path %></button>