<h2><%= @song.song_name %></h2>

<div class="container user_background_<%= @user.user_background_style %>">

  <main>
    <p><%= image_tag @song.image %></p>
  </main>
  <aside>
    <p><%= @song.song_file %></p>
    <audio controls>
      <source src="<%= @song.song_file %>" type="audio/ogg">
      <source src="<%= @song.song_file %>" type="audio/mpeg">
    </audio>
  </aside>

</div>

<div class="bottom"  >
  <p>
    <strong>Comments:</strong><br>
    <%= link_to 'Create', new_comment_path %>
    <br>
    <% @song.comments.each do |comment| %>
    <!-- Now have to find a way to make the user name show up. -->
      <%= comment.user_id %>
      <%= comment.comment_content %>
      <br>
      <%= link_to 'Show', comment %>
      <% if can? :update, Song %>
        <%= link_to 'Edit', edit_comment_path %>
      <% end %>
      <% if can? :delete, Song %>
        <%= link_to 'Destroy', comment, method: :delete, data: {confirm: 'Are you sure?' } %>
      <% end %>
      <br>
    <% end %>
  </p>
<div>

  <button><%= link_to 'Back', songs_path %></button>