<h3><%= "Artists" %></h3>

<div class="home">
  <% @users.each do |user| %>
      <%= user.user_name %>
      <br>
      <%= user.email %>
      <br>
      <%= image_tag user.image.thumb %>
      <br>
      <%= user.bio %>
      <br>
      <%= link_to 'Show', user %>
        <% if can? :edit, user %>
          <%= link_to 'Edit', edit_user_path(user) %> 
        <% end %>
        <% if can? :delete, user%>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <br>
      <br>
  <% end %>
</div>