<h3><%= "Artists" %></h3>

<div class="home">
  <% @users.each do |user| %>
      <%= user.user_name %>
      <br>
      <%= user.email %>
      <br>
      <%= user.image %>
      <br>
      <%= user.bio %>
      <br>
      <%= link_to 'Show', user %> |
      <%# if can? :update @user (can not get this syntax to work) %>
        <%= link_to 'Edit', edit_user_path(user) %> 
      <%# end %> |
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
      <br>
  <% end %>
</div>