<h2><%= @user.user_name %></h2>

<div class="container user_background_<%= @user.user_background_style %> user_font_<%= @user.user_font_color_style %>">
  
  <main>
    <p>
      <br>
      <%= @user.email %>
      <br>
      <%= @user.bio %>
      <br>
    </p>
    <p>
      <strong>Songs:</strong><br>
      <% @user.songs.each do |song| %>
        <%= song.song_name %><br>
        <%= image_tag song.image.thumb %>
        <%= song.song_file %><br>
        <%= link_to 'Show', song %>
        <% if can? :update, Song %>
          <%= link_to 'Edit', edit_song_path %>
        <% end %>
        <% if can? :delete, Song %>
          <%= link_to 'Destroy', song, method: :end, data: { confirm: 'Are you sure?'} %>
        <% end %>
        <br>
      <%  end %>
    </p>
<!-- Just a bit too complicated for now. In future, I would have probably played the artist's most popular song 
  <audio controls>
      <source src="horse.ogg" type="audio/ogg">
      <source src="horse.mp3" type="audio/mpeg">
    </audio> 
-->
  </main>
  
  <aside>
      <%= image_tag @user.image %>
      <br>
  </aside>
  
</div>

<!-- Need to add the coments for the songs here somehow. Where comment matches the songs that are playing. But taken out now because it will not need to be implemented until JavaScript comes along. -->
<!-- <div class="bottom">
  <p>
    <strong>Comments:</strong><br>
    <% @song.comments.each do |comment| %>
      <%= comment.user_id %>
      <%= comment.comment_content %><br>
    <% end %>
  </p>
</div> -->