<div class="home">
  <%= form_for @comment do |f| %>
    <p>
      <%= f.label :comment_content %>
      <%= f.text_area :comment_content %>
      <br>
      <%= f.label :song_id %>
      <%= f.collection_select :song_id, Song.all, :id, :song_name %>
    </p>
    <%= f.submit %>
  <% end %>
</div>