<!DOCTYPE html>
<html>
<head>
  <title>Project1App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door|Walter+Turncoat' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>Underground Music</header>
  <nav>
    <ul>
      <!-- Leave as href because too much extra styling using the Ruby code -->
      <li><a href="/">Home</a></li>
      <li><a href="/users">Artists</a></li>
      <li><a href="/songs">Songs</a></li>
      <li><a href="/login">Login<a></li>
      <li><a href="/signup">Sign up</a></li>
    </ul>
  </nav>  
  <% if current_user %>
    <p> hello, <%= current_user.email %> </p>
    <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: "Are you sure?"} %>
  <% else %>
    <%= link_to 'Please login', login_path %>
    <%= link_to 'Sign up', signup_path %>
  <% end %>
  <div id="warning">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
<%= yield %>

</body>
</html>
